<div class="sidebar">
<div class="super">
  <h3 class="black box">@<%= current_user.username %></h3>
</div>

<div class="super">
  <div class="blue box">
    <h4 class="black">Shouts!!</h4>
    <h4><%= current_user.shouts.size  %></h4>
  </div>
</div>

<%= render "text_shouts/form", shout: @text_shout %>
<%= render "photo_shouts/form", shout: @photo_shout %>
</div>

<div class="middle">
  <% if current_user.followed_users.any? %>
    <%= render current_user.timeline %>
  <% else %>
    <%= render current_user.shouts %>
  <% end %>
</div>

<div class="right-side">
  <h4 class="following">
    Following: <%= render @followed_users %>
  </h4>
  <h4 class="followers">
    Followers: <%= render @followers %>
  </h4>
</div>
